<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-image: url('https://www.lefthudson.com/wp-content/uploads/2019/11/gameboy-wallpapers-beautiful-gameboy-wallpaper-79-images-ideas-of-gameboy-wallpapers.jpg');"> 

<CENTER>
<h1>Welcome to your homepage </h1>
<h2> This is your personal Game Review Account</h2>

<h3><%= link_to "Most Recent 10 Reviews:", recent_reviews_path %></h3>
<%= link_to "See index of reviews", reviews_path %>

<br><br>

<h3><%= link_to "Top 10 Reviewers:", reviewers_top_reviewers_path %></h3>
<%= link_to "See index of reviewers", users_path %>

<br><br>
<h3><%= link_to "10 Top Rated Games:", top_games_path %></h3>
<%= link_to "See index of games", games_path %>
<br>

<br><br>
<%= link_to "Write a new review", new_user_review_path(@current_user) %><br>
<%= link_to "View your profile", user_path(@current_user) %><br>
<%= link_to 'Log Out', logout_path %>

</CENTER>
</body>